body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    
}

::selection {
    background-color: #f0b9227a;
}


header {
    background-color: rgb(245,247,250);
    color: black;
}

#free a{
    color: orange;
    font-weight: bold;
   
}

#space{
    border-right: rgb(104, 102, 102);
    border-right:solid;
    border-style:inset;
    border-width: 1px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}


.logo a {
    margin-top: 25px;
    text-decoration: none;
    font-weight: normal;
}

.logo a:hover{
    color: black;
}

.logo p{
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    padding-top: 15px;
    padding-bottom: 0px;
}

nav li {
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 10pt;
    padding-top: 0px;
    padding-bottom: 0px;
    color: rgb(153, 155, 158);
}

#ppp{
    color: black;
}

nav a:hover{
    color: orange;
}

nav button{
    border: solid 0.01cm lightskyblue;
    color: lightskyblue;
    background-color:  rgb(245,247,250);
    font-size: 10pt;
    padding: 10px;
}

.logo img{
    position: absolute;
    left: 20px;
}

.category-list, .catgories-nav, .category-list li{
    background-color: white;
   
    padding-bottom: 0px;
    padding-top: 0px;
    
}
.category-list ul {
    text-decoration: none;
    display: inline;
    align-items: center;
    background-color: white;
    padding-top: 0px;
    padding-bottom: 0px;

}

.categories-nav a{
    font-size: 9pt;
    background-color: white;
    color: rgb(153, 155, 158);
    font-weight: none;
    padding-top: 0px;
    padding-bottom: 0px;
}

.categories-nav a:hover{
    text-decoration: underline;
    font-weight: bold; 
    background-color: white;
    color: rgb(104, 102, 102);
}

.checkbox::before {
    padding-left: 30px;
    content: '\2713'; 
    font-size: 24px; 
    color: #28a745; 
    margin-left: 10px; 
    margin-right: 10px; 
}

#check-h2{
    padding-left: 30px;
    font-size: 35pt;
    color: #53035a;
}

#slide img{
    background-color: rgb(245,247,250);
    margin-right: 300px;
}

.slideshow-container {
    display: flex;
    align-items: center;
    background-color: rgb(245,247,250);
    
}

#text1 {
    text-align: left;
    margin-top: 110px;
    margin-left: 30px;
    color: rgba(231,149,10,255);
    text-justify:auto;
    font-size: 70px;
    
}

#xx{
    margin-left: 30px;
}

#subh {
    color: black;
    margin-left: 30px;
   
}

.search {
    
    margin-top: 0px;
    margin-right: 100px;
    margin-left: 30px;
}

.search input, .search button{
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    height: 2cm;
    box-shadow: 0px 3px 3px  rgba(0, 0, 0, 0.2);
    
}

.search input{
    width: 15cm;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}
.search button{
    width: 2cm;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.search button {
    background-color: rgba(231,149,10,255);
    color: white;
    cursor: pointer;
}

.search2 input{
    background-color: #f28b80;
    color: white;
    cursor: pointer;
}

.search a, .search2 a{
    text-decoration: none;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
}

#simg {
    position: relative;
    left: 650px; 
    background-color: rgb(245,247,250);
    margin-top: -540px;
  
}

#slide{
    margin-right: 200px;
}

.active {
    background-color: #717171;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
    display: none;
}

.slidefade{
    background-color: rgb(245,247,250);
    

}

.slidefade2{
    display: none;
}

.slide-caption {
    flex: 1;
    text-align: left;
    background-color: rgb(245,247,250);
    color: white;
    text-align: center;
    
}

.cta-button {
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 30px; 
    font-size: 15px;
}

#GWD{
    position: absolute;
    display: flex;
    text-align: right;
    left:680px;
    top: 710px;
}

.categories {
    background-color: white
}

.categories h2 {
    font-size: 28px;
    margin-bottom: 40px;
}

#quotes1{
    background-color: #b8d6d42f;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    position: relative;
    height: 280px;
}

#sep{
    color: gray;
}

#quotes1 h4{
    background-color:rgb(245,247,250);
    margin-bottom: 20px;
}

#quotes1 h5{
    margin-left: 150px;
    background-color:rgb(245,247,250);
    
}

#ana{
    margin-left: 10px;
    position: absolute;
    text-align: left;
    top: 140px;
}

#trustpilot a{
    display:flex;
    justify-content: center;
    align-items: center;
}

#trustpilot img{
    display:flex;
    align-items: center;
}

#expert{
    padding: 20px;
    background-color: rgb(245,247,250);
    border-radius: 10px; 
    margin: 10px;
}

#contactcard a, #contactcard2 a{
    text-decoration: none;
    color: black;
}

#ccall{
    border: 2px solid rgba(117, 116, 116, 0.096);
    padding: 0px;
    background-color: white;
    margin-left: 10px;
    text-decoration: none;
    color: black;

}

#contactcard a, #contactcard2 a{
    text-decoration: none;
}

#contactcard img, #contactcard2 img{
    position: relative;
    left:30px;
}

#contactcard h6, #contactcard2 h6{
    text-align: center;
    color: rgb(110,110,145)
}
#contactcard p, #contactcard2 p{
    font-size: 9pt;
    text-decoration: none;
}

#expert body{
    border: black;
    border: solid;
}

#contactcard,  #contactcard2 {
    padding: 20px;
    background-color: rgb(250,247,243) ;
    border-radius: 5px; 
    text-decoration: none;
    color: black;
}

#contactcard2{
    background-color: rgb(252,249,242);
}

#contactcard-bot{
    padding-top: 0px;
    padding-left: 20px;
    background-color: white;
    color: grey;
    display: flex;
    align-items: center;
    text-decoration: none;
}

#contactcard-bot a {
    text-decoration: none;
}

#star{
    color: rgb(255,179,49);
   
}

#rating{
    color: black;

}

#counttt{
    color: grey;
    text-decoration: none;
}

#contactcard-bot, #star, #rating, #counttt{
    display: inline;
    background-color: white;
    font-size: 10pt;
    text-decoration: none;
}

#skill3{
    background-color:rgb(245,247,250);
    color: grey;
    font-size: 9pt;
    margin-left: 8px;
    margin-top: 20px;
    
}

#skill, #skill2{
    background-color: rgba(233, 231, 231, 0.575);
    color: grey;
    border-radius: 5px; 
    padding: 5px;
    font-size: 8pt;
    margin-left: 8px;
    margin-top: 20px;
    padding-left:10px;
    padding-right: 10px;
    text-decoration: none;
}
#skill2{
    background-color: white;
    border: 2px solid rgba(117, 116, 116, 0.096);
}

#lastline {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#rate{
    text-align: right;
    font-size: 13pt !important;
}

#rateno{
    color: black;
    margin-left: 115px;
    font-size: 13pt;
}


#flag, #flagtext {
    display: inline-block; 
}

#flag{
    display: inline-block;
    margin-right: 25px
}

#flag-con{
    text-align: left;
    vertical-align: middle;
}


footer {
    background-color: #b8d6d42f;
    color: white;
    text-align: left;
    padding: 10px 0;
    background-color: rgb(28, 28, 78);
}

footer p {
    font-size: 14px;
    
}

#bottom, #bottom p, #bottom a {
    display: inline;
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 0px;
}

@media screen and (max-width: 768px) {
    #desktop {
        display: none;
    }
    
    #mobile{
        background-color:  rgb(245,247,250);
    }

    #mobile a{
        color: black;
    }

    #logo i{
        align-items: right;
        margin-left: 180px;
    }

    #logo, #bars{
        display: inline;
    }

    .nav{
        background-color: white;
        border-bottom: solid lightgrey 1px;
        box-shadow: 0px 0px 0.8px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav select{
        padding-left: 10px;
        border: none;
        font-size: 10pt;
        color: rgb(139, 139, 139);
        
    }

    #rest{
        background-color: rgb(245,247,250);
        text-align: center;
    } 

    #rest img{
        display: inline-block;
        height: 250px;
    }

    #rest h1{
        padding-top: 20px;
        color: #91206b;
    }

    #rest h5{
        padding-bottom: 15px;
    }

    /* 
    .dot {
        height: 5px;
        width: 5px;
        margin: 0 4px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
    }
*/
    .search {
    
        display: inline;
    }
    
    .search input, .search button{
        border: none;
        border-radius: 5px;
        border-bottom: solid 1px lightgray;
        border-top: solid 1px lightgray;
        height: 0.5cm;
        box-shadow: 0px 4px 4px  rgba(0, 0, 0, 0.2);
        text-align: center;
        margin-bottom: 50px;
        width: 100%;
    }
    
    .search input{
        width: 6.2cm;
        height: 1cm;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-left: solid 1px lightgray;
    
    }
    .search button{
        height:1cm;
        width: 1.5cm;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        background-color: #91206b;
        color: white;
        cursor: pointer;
        margin-top: 13px;
        border-right: solid 1px lightgray;
        padding-bottom: 31px;
        padding-top: 7px;

    }
    

}